# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/

# Virtual environments
.venv/
venv/
env/

# Notebooks
.ipynb_checkpoints/

# Streamlit
.streamlit/secrets.toml

# Local outputs and temp workspaces
outs/
tmp/
*.zip

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Test / cache
.pytest_cache/
.mypy_cache/
.ruff_cache/
